@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
    --background: rgb(219, 169, 61);
    --large: 4rem;
    --medium: 2.5rem;
    --normal: 1.5rem;
    --delay: 1.5s;
    --card-height: 40vh;
    --card-width: 20vw;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

body{
    background:var(--background);
    font-family: 'PT Mono', monospace; 
}

/* Heading */
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 2rem;
}

.header{
    position: relative;
    color: white;
    font-size: var(--large);

    animation-name: header;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    opacity: 0;
}

@keyframes header{
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.header::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -.5rem;

    background: white;

    width: 100%;
    height: 4px;
    
    animation-name: underline;
    animation-duration: 1.5s;
    animation-delay: var(--delay);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    transform: scaleX(0);
    transform-origin: left;
}

@keyframes underline{
    100%{
        transform: scaleX(1);
    }
}

.topline{
    color: white;
    font-size: var(--medium);
    
    animation-name: topline;
    animation-duration: 1.5s;
    animation-delay: calc(var(--delay)*2);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
    opacity: 0;
    margin: 1rem 0;
}

@keyframes topline {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* Image */
.gif-wrapper{

}

.gif{
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    
    transition: all .1.5s ease;

    opacity: 0;

    animation-name: gif;
    animation-delay: calc(var(--delay)*3);
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.gif:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@keyframes gif {
    0%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.first-row-wrapper{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.card-wrapper{
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: url("./images/oden-1.webp");
    height: var(--card-height);
    width: var(--card-width);
    background-size: cover;

    border-radius: 1rem;
    border: 2px solid black;

    color: white;

    transition: all .2s ease;
    box-shadow: 0 0 5px black;

    overflow: hidden;

    animation-name: card;
    animation-duration: 2s;
    animation-delay: calc(var(--delay)*4);
    animation-fill-mode: forwards;
    opacity: 0;

    text-decoration: none;
}

.card-wrapper:hover{
    box-shadow: 0 0 10px black;
    transform: scale(1.05);
    cursor: pointer;
}

@keyframes card {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.card-content{
    display: flex;
    transition: all .3s ease;
    transform: translateY(var(--card-height));
    background: linear-gradient(black, transparent);
    height: 100%;
    width: 100%;

    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.card-header{
    font-size: var(--medium);
}

.card-subtitle{
    font-size: var(--normal);
    padding: 1rem 0;
}

.card-wrapper:hover .card-content{
    transform: translateY(100px);
}