:root{
    --background: #333;
    --large: 4rem;
    --medium: 2rem;
    --normal: 1rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background:var(--background);
}

/* Heading */
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 2rem;
}

.header{
    color: white;
    font-size: var(--large);
}

.topline{
    color: white;
    font-size: var(--medium);
}

/* Image */
.gif-wrapper{
    display: flex;
    justify-content: center;
}

.gif{
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    
    transition: all .2s ease;
}

.gif:hover{
    transform: scale(1.05);
    cursor: pointer;
}